{% if page == 'about' %}
<section class="about rich">
  <div class="container">
    {% if lang == 'uk' %}
      <h2>Історія українського душпастирства у Швейцарії</h2>
      <p>Українське церковне життя у Швейцарії тісно пов’язане з історією еміграції з України, що активізувалась після Першої світової війни. Саме тоді перші українці почали знаходити прихисток у цій країні. Серед них був і визначний діяч визвольного руху — Євген Коновалець, який тимчасово проживав у Швейцарії. Для конспірації його листування надходило на ім’я дружини українського медика, а тепер парафіянина нашого душпастиврва в Лозанні п. Михайла Качалуби — пані Гайн.</p>
      <p>Після завершення Другої світової війни українська громада в Швейцарії суттєво зросла, що викликало потребу в постійній духовній опіці. Деякий час вірян підтримував о. Захарясевич, який згодом переїхав до Аргентини. 4 лютого 1951 року в катедрі міста Фрібург диякон Данило Дзвоник був висвячений на священика єпископом Іваном Бучком — екзархом для українців за межами України. Протягом кількох років о. Данило душпастирював у Швейцарії, беручи активну участь не лише в церковному житті, а й у діяльності Українського товариства Швайцарії.</p>
      <p>У 1960-х роках духовну опіку над українцями перейняв о. Мирослав Марусин. Того ж десятиліття було засновано апостольський екзархат для українців у Франції, на чолі якого став владика Володимир Маланчук. У 1982 році його наступником призначено кир Михаїла Гринчишина, який отримав також мандат апостольського делегата для українців у країнах Бенілюксу та Швейцарії. На його прохання, після завершення богословських студій у Римі, о. Петро Костюк розпочав душпастирську працю в Швейцарії, яку вірно виконував протягом трьох десятиліть до виходу на пенсію.</p>
      <p>З самого початку українські богослужіння відбувалися у приміщеннях, люб’язно наданих місцевими римо-католицькими парафіями. Значними духовними осередками стали село Блоне та катедра м. Фрібур у франкомовному регіоні, а також храми в Берні й Цюриху — у німецькомовній частині країни.</p>
      <p>Нове піднесення церковного життя стало можливим після створення Єпархії святого Володимира Великого в Парижі та призначення її першим єпископом кир Бориса Ґудзяка. Завдяки його зусиллям у 2016 році до Швейцарії прибув о. Володимир Горошко, який розпочав душпастирське служіння в Луґано та Берні. У Базелі душпастирство очолив о. Стефан Підсадний. У зв’язку з погіршенням стану здоров’я, 2020 року він передав опіку над базельською громадою о. Володимиру.</p>
      <p>З весни 2017 року почали регулярно відбуватися богослужіння в Женеві, які, як і раніше, проводив о. Назарій Заторський, що перебував на студіях у Швейцарії і вже довший час провадив богослуження в Лозанні. У 2021 році до священичої команди долучився о. Святослав Горецький, який перейняв душпастирську опіку над громадами в Лозанні та Женеві.</p>
      <p>Станом на 2025 рік греко-католицькі богослужіння в Швейцарії відбуваються у восьми містах: Базелі, Берні, Женеві, Лозанні, Луґано, Курі, Санкт-Ґаллені та Цюриху. Душпастирське служіння звершують п’ятеро священників: о. Назарій Заторський, о. Володимир Горошко, о. Святослав Горецький, о. Олег Олексюк та о. Тарас Овсяник.</p>
      <p>Сьогодні українське душпастирство в Швейцарії об’єднує парафіяльні осередки в різних кантонах і охоплює значну частину території країни. Діяльність українських священників не обмежується лише звершенням Божественної Літургії та уділенням Святих Тайн. Віряни беруть участь у катехитичних зустрічах, родинних заходах, спільних поїздках та прощах, волонтерських ініціативах і традиційних українських вечорах. Таке живе церковне середовище допомагає зберігати віру, культурну спадщину та національну єдність в умовах еміграції та війни.</p>
    {% else %}
      <h2>{{ title }}</h2>
      <p>{{ content }}</p>
    {% endif %}
  </div>
</section>
{% endif %}

