{% if page == 'schedule' %}
<section class="schedule-page container">
	<h2>{{ title }}</h2>
  {% if sections.schedule and sections.schedule.length %}
    <div class="liturgy-grid">
      {% for item in sections.schedule | sort_by_time %}
        {% include "partials/card-liturgy.njk" %}
      {% endfor %}
    </div>
  {% else %}
    <p class="no-events">{{ no-ivents }}</p>
  {% endif %}

</section>
{% endif %}
