{% if page == 'spiritual' %}
<section class="section-list">
  <div class="container">
    <h2>{{ title }}</h2>
    <div class="cards-grid cols-3">
      {% for item in sections.spiritual %}
        {% include "partials/card-article.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
